body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #3f3f3c;
}
.navbar-brand {
    color: #ffffff !important;
}
.container {
    margin-top: 50px;
}
.card {
    border-radius: 15px;
}
.alert {
    border-radius: 15px;
}
